@import 'tailwindcss';

@font-face {
  font-family: 'NationalPark';
  src: url('/fonts/NationalPark/NationalPark-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NationalPark';
  src: url('/fonts/NationalPark/NationalPark-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

body {
  background: #0b1027;
  position: relative;
  overflow-x: hidden;
}

body,
html {
  overflow-x: hidden;
}
