.wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 120dvw;
  height: 70dvh;
  transform: translateX(-50%);
  z-index: 10;
  overflow: hidden;
}

.wrapper svg {
  width: 100%;
  height: 100%;
  display: block;
  transform: translateY(2%);
}
